{#{% extends 'base.html.twig' %}#}

{#{% block title %}Register{% endblock %}#}

{#{% block body %}#}
{#    {% for flashError in app.flashes('verify_email_error') %}#}
{#        <div class="alert alert-danger" role="alert">{{ flashError }}</div>#}
{#    {% endfor %}#}

{#    <h1>Register</h1>#}

{#    {{ form_start(registrationForm) }}#}
{#    {{ form_row(registrationForm.email) }}#}
{#    {{ form_row(registrationForm.password, {#}
{#        label: 'Password'#}
{#    }) }}#}


{#    <button type="submit" class="btn">Register</button>#}
{#    {{ form_end(registrationForm) }}#}
{#{% endblock %}#}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include ('admin/head.html.twig') %}
</head>
<body class="hold-transition login-page">
<div class="login-box">


    <form name="registration_form" method="post" enctype="multipart/form-data">



        <div class="card-body login-card-body">
            <p class="login-box-msg">Giriş Yap</p>



{{ form_errors(registrationForm.email) }}
            <br>
            <div class="input-group mb-3">
                <input type="text" id="user_name" name="user[name]" maxlength="20" class="form-control" placeholder="İsim">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" id="user_surname" name="user[surname]" maxlength="20" class="form-control" placeholder="Soyisim">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" id="user_email" name="user[email]" required="required" maxlength="180" class="form-control" placeholder="Email">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" id="user_password" name="user[password]" required="required" class="form-control"placeholder="Şifre">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
{#                        <div class="input-group mb-3">#}
{#                            <input type="password" class="form-control" placeholder="Retype password">#}
{#                            <div class="input-group-append">#}
{#                                <div class="input-group-text">#}
{#                                    <span class="fas fa-lock"></span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" id="user_image" name="user[image]" class="custom-file-input" placeholder="Password">
                    <label for="user_image" class="custom-file-label">Choose file</label>
                </div>
            </div>


            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Kayıt Ol</button>
            </div>

            <div class="social-auth-links text-center mb-3">
                <p>- OR -</p>

            </div>
            <!-- /.social-auth-links -->

            <p class="mb-0">
                <a href="{{ path('app_login') }}" class="text-center">Giriş</a>
            </p>

        </div>

    </form>

</div>

<!-- /.login-card-body -->
</div>
</div>
<script src="{{ asset('assets') }}/admin/plugins/jquery/jquery.min.js"></script>
<script src="{{ asset('assets') }}/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ asset('assets') }}/admin/dist/js/adminlte.min.js"></script>
<script src="{{ asset('assets') }}/admin/dist/js/demo.js"></script>

</body>
</html>

