{% extends 'adminbase.html.twig' %}

{% block title %}Yorum Listele{% endblock %}

{% block body %}

    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">

                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="col-md-2">
                <a class="btn btn-block btn-success" href="{{ path('admin_category_new') }}">Yeni Kategori</a>
            </div>
            <br>
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Yorumlar</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body">

                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Subject</th>
                            <th>Comment</th>
                            <th>Status</th>
                            <th>Ip</th>
                            <th>User</th>
                            <th>Hotel</th>
                            <th>Rate</th>
                            <th colspan="3" ><div align="center">Actions</div></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in comments %}
                            <tr>
                                <td>{{ comment.id }}</td>
                                <td>{{ comment.subject }}</td>
                                <td>{{ comment.comment }}</td>
                                <td>{{ comment.status }}</td>
                                <td>{{ comment.ip }}</td>
                                <td><a href="{{ path('admin_user_show', {'id': comment.id}) }}">{{ comment.name }} {{ comment.surname }}</a>   </td>
                                <td><a href="{{ path('admin_hotel_show', {'id': comment.id}) }}">{{ comment.title }}</a></td>
                                {#                                <td>{{ comment.created_at }}</td>#}
                                <td>{{ comment.rate }}</td>
                                <td>
                                    <a class="btn btn-info" href="{{ path('admin_comment_show', {'id': comment.id}) }}">Göster</a>
                                </td>
                                <td>
                                    <a class="btn btn-info" href="{{ path('admin_comment_edit', {'id': comment.id}) }}">Düzenle</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="10">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    Footer
                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}

